*.pyc
*.pyo
*.pyd
__pycache__
.DS_Store
.git
.gitignore
.env
.venv
venv
ENV
env
db.sqlite3
*.sqlite3
staticfiles/
staticfiles_cdn/
email_service/
email_service/node_modules/
email_service/package-lock.json
email_service/package.json
email_service/server.js
